<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
    $(document).ready(function(){
		var submitted_name = prompt("Your Name for Group Chat:", "");
		io = io.connect();
		if(submitted_name != null) {
			io.emit("got_a_new_user", {
				name: submitted_name,
				room: room
			});
			io.on("new_user", function (data) {
				$("#entertain_user").append("<div class='my_box"+data.new_user_session_id+"'><div class='my_box_name'>"+data.new_user_name + "</div><textarea class='my_box_content"+data.new_user_session_id+"'></textarea></div>"
				);
			});
		};

		$(this).on('keyup', '.my_box_content', function(){
			console.log('keyup');
			io.emit('updated_text', {text: $('.my_box_content').val() });
		});
		
		io.on('existing_users', function(data){
			// console.log(data.user_history);
			for(i = 0; i < data.user_history.length - 1; i++){
				console.log(data.user_history[i].sessionID);
				$('#entertain_user').prepend("<div class='box'><div class='my_box_name'><h3>" + data.user_history[i].name + "</h3></div><div id='" + data.user_history[i].sessionID + "'><p></p></div></div>")
			};
		});

		io.on('new_user_message', function(text){
			console.log(text);
			var box = document.getElementById(text.sessionID);
			$(box).html(text.text);
		}); 

		io.on("disconnected_user", function(data){
			$("div."+data.sessionID).remove();
		});  		
    });
    </script>
</head>
<body>
	<div id='entertain_user'></div>
</body>
</html>